<div class="body-main-product">
  <div class="main-product-imgandtext">
    <div class="product-imgandtext-img">
      <img src="" alt="">
    </div>
    <div class="product-imgandtext-text">
      <span>Nhà Giả Kim (Tái Bản 2020)</span>
      <span>Ma: 20</span>
    </div>
  </div>
  <div class="main-product-seemore">
    <button class="product-seemore-btn">Xem chi tiet &gt;&gt;</button>
  </div>
  <div class="main-product-price">
    <div class="product-price-old">350.000d</div>
    <div class="product-price-current">299.000d</div>
  </div>
  <div class="main-product-number">
    <label for="">So luong: </label>
    <input type="number" id="soluong" name="soluong" min="1" max="100" value="<%=current_carts["#{book.id}"] %>">
  </div>
  <div class="main-product-allprice">
    <span>299.000</span>
  </div>
  <div class="main-product-delete">
    <button class="product-delete-btn">Xoa san pham</button>
  </div>
</div>
<div class="_2aRlry"></div>
