<div class="body-app">
  <div class="my-body-2-app">
    <div class="my-product-contain">
      <div class="product-contain-title">
        Giỏ Hàng Của Tôi
      </div>
      <div class="product-contain-body">
        <div class="contain-body-head">
          <div class="head-product-name">Sản phẩm</div>
          <div class="head-product-price">Đơn giá</div>
          <div class="head-product-number">Số lượng</div>
          <div class="head-product-allprice">Số tiền</div>
          <div class="head-product-delete">Thao tác</div>
        </div>
        <div class="product-body-main", id="cart_products">
          <%= render partial: "carts/product", collection: @products %>
          <div class="product-buy-payment">
            <div class="buy-payment-top">
              <div class="payment-top-how">Phương thức thanh toán</div>
              <div class="payment-top-when">Thanh toán khi nhận hàng</div>
            </div>
            <div class="buy-payment-main">
              <div class="payment-main-empty-left"></div>
              <div class="payment-main-content">
                <div class="main-content-price">
                  <div>Tổng tiền hàng</div>
                  <div><%= total_price %></div>
                </div>
                <div class="main-content-ship">
                  <div>Phí vận chuyển</div>
                  <div>0d</div>
                </div>
                <div class="main-content-pay">
                  <div>Tổng thanh toán</div>
                  <div class="pay-all-price"><%= total_price %></div>
                </div>
                <div class="main-content-buy">
                  <button class="content-buy-btn">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
